* { 
	margin: 0;
	padding: 0;
}

body { 
	background-color: #f9f9f9;
	font-family: Arial, sans-serif;
	}
	
.wrapper {
margin: 0 auto;
width: 960px;
background-color: #ffffff; 
padding: 0 50px;

}
/*HEADER*/
.header {
	background-color: #ffffff;
	padding-top: 40px;
	margin-bottom: 40px;
}

.logo {
	display: block;
	padding: 40px 0px;
}
.headerMenu {
	background-color: #5e5e5e;
background: -moz-linear-gradient(top, #5e5e5e 0%, #444343 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #5e5e5e), color-stop(100%, #444343));
background: -webkit-linear-gradient(top, #5e5e5e 0%, #444343 100%);
background: -o-linear-gradient(top, #5e5e5e 0%, #444343 100%);
background: -ms-linear-gradient(top, #5e5e5e 0%, #444343 100%);
background: linear-gradient(to bottom, #5e5e5e 0%, #444343 100%);

}

.headerMenu li {
	display: inline-block;
	padding: 0 40px;

}

.headerMenu a {
	color: #ffffff;
	text-decoration: none;
	line-height: 40px;
	font-size: 15px;
}
.headerMenu a:hover {
	background: #494949;
background: -moz-linear-gradient(top, #494949 0%, #303030 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #494949), color-stop(100%, #303030));
background: -webkit-linear-gradient(top, #494949 0%, #303030 100%);
background: -o-linear-gradient(top, #494949 0%, #303030 100%);
background: -ms-linear-gradient(top, #494949 0%, #303030 100%);
background: linear-gradient(to bottom, #494949 0%, #303030 100%);
}


/* container */
.container {
	position: relative;
	overflow: hidden;
}

/*SIDEBAR*/



.sidebar {
	background-color: #ffffff;
	width: 240px;
	border: 1px solid #c8c8c8;
	float: left;
}
.sidebarMenu li {
	border-top: 1px solid #c8c8c8;
	list-style: none;
	
}
.sidebarMenu li:first-child {
	border-top: 0;
}
.sidebarMenu a {
	color: black;
	font-size: 15px;
	line-height: 40px;
	text-decoration: none;
	padding-left: 20px;
}

}
.sidebarMenu a:hover {
	background-color: #f9f9f9;
	padding-left: 30px;
}

/*CONTENT*/

.content {
	background-color: white;
	width: 700px;	
	float: right;
}


.imgcontent {
	display: block;
	width: 100%;
	border: 1px solid #bdbdbd;
	text-align: center;
	padding: 40px 0;
}

p {
	padding: 20px;
}	
	
	
	/*FOOTER*/
	
.footer {
	
	background-color: #e1e1e1;
	overflow: hidden;
	
}



.footerMenu {
	position: relative;
	overflow: hidden;
	
}

.footerMenu li {
	float: left;
	list-style: none;
	line-height: 40px;
	padding: 0 40px;
}

.footerMenu a {
	display: block;
	color: #2c2c2c;
	text-decoration: none;
	font-size: 15px;
	
}

.footerMenu .copyright {
	float: right;

}
